
.container {
    color:black;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: red;
    text-align: center;
}

.loading {
    text-align: center;
}

.request-list {
    list-style-type: none;
    padding-left: 0;
}

.request-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.button-approve {
    padding: 8px 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-reject {
    padding: 8px 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-delete {
    padding: 8px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
